* {
    box-sizing: border-box;
}

body {
    margin: auto;
    background-color: darkred;
    color: yellow;
    line-height: 1.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title {
    font-family:"Rubik Spray Paint";
    font-size: 65px;
}