*   {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #f7f7f7;
}

.main-title {
    padding: 20px;
    text-align: center;
    font-size: 65px;
    font-weight: 500;
    color: #474747;
}

.subtitle {
    margin-bottom: 25px;
}

h2 {
    padding: 15px;
    margin: auto;
    width: fit-content;
    text-align: center;
    font-size: 25px;
    color: #474747;
    font-style: italic;

}

img {
    width: 100%;
    height: auto;
   
}

.recipes-container {
    margin: auto;
    width: fit-content;
    padding: 25px;
}

ul {
    list-style: none;
}

.main-recipe {
    margin: 10px;
    padding: 12px;
    text-decoration: none;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    color: #474747;
    transition: color 0.2s ease-in-out;

}

a:visited {
    color: #474747;

}

a:hover {
    color: #bdbdbd;
}

footer {
    width: fit-content;
    margin-left: auto;
    padding: 25px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #bdbdbd;
}